{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
       
        <hr>
        <form method = "post" novalidate>
            {% csrf_token %}
            <h2>Login</h2>
            {{form|crispy}}
            <br>
            <button type = "submit" class = "btn btn-danger">Login</button>
            <p>Don't have an account? <button type="button">
                <a href="{% url 'user:register' %}">Register</a>
            </button></p>
        </form>
    </div>
  </div>

{% endblock content %}